.footer {
  background: $dark-grey;
  padding: 4rem 0;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.05);

  .footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #logo-footer {
      width: 150px;
    }

    .footer-icon-links a {
      margin-left: 2rem;
      transition: all 0.3s ease;
      color: rgba($white, 0.6);

      &:hover {
        color: $primary;
      }

      i {
        transition: all 0.3s ease;
        &:hover {
          transform: translateY(-5px);
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .footer {
    padding: 3rem 0;
    .footer-flex {
      flex-direction: column;
      text-align: center;

      #logo-footer {
          margin-bottom: 2rem;
      }

      .footer-icon-links {
        a {
          margin: 0 1rem;
        }
      }
    }
  }
}
